.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: 0.875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: black;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

#dashboard-nav-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

#dashboard-user-profile-chip {
  padding: 4px 7px;
  border-radius: 24px;
  color: #fff;
}

#dashboard_sidebar_header {
  color: #9d9fa1;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
}

#business_dashboard_banner {
  padding: 32px;
  border-radius: 16px;
  background: #6a3cb5;
}

#business_dashboard_banner_text_header {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.6px;
}

#business_dashboard_banner_text_lead {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

#business_dashboard_banner_button {
  display: flex;
  width: 153px;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fff;
}

#business_dashboard_banner_button_text {
  color: #6a3cb5;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: -0.2px;
}

#buisness_dashboard_stats_cards {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 12px;
  background: #fff;

  /* Shadow/01 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}

#buisness_dashboard_stats_card_lead_text {
  color: #3d3d3d;
  /* Text/16px/Regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

#buisness_dashboard_stats_card_header {
  color: #282828;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 153.846% */
}

#buisness_dashboard_stats_cards_footer_badge {
  padding: 2px 10px;
  border-radius: 100px;
  background: #dcfff5;
  color: #198754;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
}

#buisness_dashboard_stats_cards_footer_text {
  color: #9d9fa1;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
}

#event_inventory_card {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}

#event_inventory_card_text_header {
  color: #282828;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

#event_inventory_table_header {
  color: #282828;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

#event_table_media_object {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20px;
}

#empty_event_text_heading {
  color: #282828;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 85% */
  letter-spacing: -0.6px;
}

#empty_event_text_lead {
  color: #3d3d3d;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

#empty_event_button {
  display: flex;
  width: 180px;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #6a3cb5;
  color: #fafafa;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: -0.2px;
}

#create_event_form_card {
  padding: 32px 24px;
  border-radius: 16px;
  background: #fff;
}

#create_event_form_text_heading {
  color: #282828;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 140% */
  letter-spacing: -0.8px;
}

#create_event_form_text_lead {
  color: #3d3d3d;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

#form_number {
  padding: 4px 8px;
  border-radius: 16px;
  background: #eaecf0;
  color: #6a3cb5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.4px;
}
